/**
 * Resets
 */
*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  font: inherit;
  color: inherit;
}

.mdl-button {
 font-family: 'Roboto Mono', monospace !important;
}

/**
 * Base
 */
html {
  font: 112.5%/1.2 "Roboto", Arial, sans-serif;
  color: #3d464d;
  background-color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow: hidden-x;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('../images/pattern-53x53-small-black@35_.png');
}

.container {
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  opacity: 1;
  height: 87vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 30px;
}

a {
  color: #3d464d;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
}

a:hover, a:focus {
  color: #267dc0;
}

h1 {
  font-size: 72px;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: .5em;
  color: #267dc0;
}

.subheader {
  font-weight: 300;
  margin-bottom: 1.5em;
}

.hint {
  color: #ccc;
  margin: 2em 0;
}

/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 20px;
  position: relative;
  width: 340px;
  margin: 12px;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: 1.3em 0.9em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}



/**
 * RestaurantList
 */
.restaurantslist {
  position: relative;
  list-style: none;
}
/**
 * RestaurantBox
 */
.restaurant-box {
  max-width: 240px;
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.restaurant-box img {
    width: 100%;
    height: auto;
}

.restaurant-box:hover,
.restaurant-box:focus {
  background: #f5f5f5;
}

/**
 * CategoryBox
 */

.category-list {
  position: relative;
  list-style: none;
}
.category-list-item {
  max-width: 240px;
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid gray;
}

.numberInput {
  width: 40px;
}

.category-list-item img {
    width: 100%;
    height: 100%;
}

.category-list-item:hover,
.category-list-item:focus {
  background: #f5f5f5;
}

/**
 * Menu Items
 */

 .menuViewContainer {
   min-width: 1040px;
   overflow-y: auto;
 }

.menuSection-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 47px;
  border-color: #cacaca;
  background: #efefef;
  margin-bottom: 0;
  cursor: pointer;
}

.menuItem-container {
  position: relative;
}

.menuItem-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #FFF;
  min-height: 50px;
}

.menuItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-color: #cacaca;
  border-style: dotted;
  border-width: 2px 0 0;
  width: 50%;
  background: #FFF;
  z-index: 1010;
  cursor: pointer;
  margin: 2;
}

.menuItem:nth-child(odd) {
  border-width: 0 1px 1px 0;
}

.menuItem:nth-child(even) {
  border-width: 0 0 1px;
}
.menuItem:hover {
  border: 3px solid #fe0000;
}

.menuItem-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 4px solid #FFF;
  cursor: pointer;
  padding: 5px 5px 0;
  width: 100%;
}

.menuItem-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.menuItem-details {
    margin-left: 25px;
}

/**
 * Cart View
 */
.cartWrapper {
  min-width: 330px;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.cartHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cartFooter {
  z-index: 10;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #efefef;
  position: absolute;
  bottom: 0;
}

.toggle {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.delivery-takeout {
  display: flex;
  margin: 0 0 10px;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.address {
  flex: 1 1 100%;
  margin: 0 0 10px;
  text-align: center;
}

.cartEmpty {
  font-size: 24px;
  padding: 16px 45px;
  margin: 0;
}
.orderItemContainer {
  overflow-y: auto;
  max-height: 380px;
}

.orderItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  overflow-y: auto;
}

.orderItemDetails {
  display: flex;
  flex: 1;
}

.orderItemRemove {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  margin: 12px;
  margin-right: 8px;
  margin-top: 14px;
  cursor: pointer;
}

.orderItemQuantity {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20px;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  padding: 15px 0 0;
  text-align: center;
}

.orderItemNameContainer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 10px;
  min-width: 180px;
  text-align: left;
}

.orderItemName {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  cursor: pointer;
  text-decoration: none;
  color: #399;
}

.orderItemDescription {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 10px 0 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 1.45;
  margin-bottom: 10px;
  text-align: left;
}

.orderItemPrice {
  color: #777;
  padding: 15px 20px 15px 10px;
  white-space: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  text-align: right;
}

.totalsLines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
}

.totalLineAmount {
  white-space: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  text-align: right;
}

.totalLineName {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

/**
 * checkout
 */

 .newAddress {
   min-width: 1040px;
   background-color: white;
   text-align: left;
   padding: 25px;
 }

 .newAddressHeader {
   display: flex;
 }

.checkoutChangeOrder {
  color: #FFF;
  background: #399;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
}

.checkoutTotal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #333;
  color: #FFF;
  padding: 15px 20px 15px!important;
}

.section-title-cont {
  background-image: -webkit-radial-gradient(circle,#cacaca 1px,#FFF 1px);
  background-image: radial-gradient(circle,#cacaca 1px,#FFF 1px);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: 5px 2px;
}

.sectionTitle {
  background-color: white;
  width: 80px;
}

.flexDisplay {
  display: flex;
  justify-content: center;
}

.textField {
  flex: 1;
  max-width: 350px;
  margin: 10px 40px;
}
